.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

.text-danger {
  color: red;
}